<script id="tpl-facebook-item" type="text/template">
	<div class="item">
		<h4><%= name %></h4>
		<small><%= location.city %>,<%= location.country %></small>
		<div class="message"></div>
	</div>
</script>
